# Copy to src/main/resources/db.properties and put your password in.
# Don't commit that copy.

DB_URL=jdbc:postgresql://localhost:5432/bank_cli
TEST_DB_URL=jdbc:postgresql://localhost:5432/bank_cli_test
DB_USER=postgres
DB_PASSWORD=
